@page
@model WebApp.Pages.AboutUsModel
@{
}
<div class="aboutus"></div>
<div class="aboutus-content">
	<div>
		<div class="secret-box"></div>
		<div class="aboutus-img"></div>
	</div>
	<div>
		<p class="aboutus-title">ABOUT US</p>
		<p class="aboutus-subtitle">Get Closer To The Wanders Of The Natural World</p>
		<ul class="checklist">
			<li class="checklist-item"><span class="checkmark">&#10004;</span> Animal Reservation: Providing a safe haven for diverse animal species.</li>
			<li class="checklist-item"><span class="checkmark">&#10004;</span> Mating Programmes: Promoting breeding programs for endangered species.</li>
			<li class="checklist-item"><span class="checkmark">&#10004;</span> Transfer Programmes: Facilitating responsible animal transfers with partner organizations.</li>
			<li class="checklist-item"><span class="checkmark">&#10004;</span> Partnerships for Nature: Collaborating to protect habitats and support conservation efforts.</li>
			<li class="checklist-item"><span class="checkmark">&#10004;</span> Education and Engagement: Inspiring wildlife enthusiasts through interactive experiences.</li>
			<li class="checklist-item"><span class="checkmark">&#10004;</span> Animal Facts and Research: Sharing knowledge about species and their conservation.</li>
			<li class="checklist-item"><span class="checkmark">&#10004;</span> Endangered Species Protection: Actively working to safeguard vulnerable species.</li>
			<li class="checklist-item"><span class="checkmark">&#10004;</span> Ethical Practices: Ensuring the highest standards of animal welfare.</li>
		</ul>
	</div>
	
</div>
<div class="statstics-content">
	<div class="statistics-box" align="center">
		<img style="border-radius: 50%;" src="~/images/animal-statistics.png" />
		<p class="statistics-number">@Model.GetTotalAnimals()</p>
		<p class="statistics-type">+Total Animals</p>
	</div>
	<div class="statistics-box" align="center">
		<img style="border-radius: 50%;" src="~/images/current-visitors.png" />
		<p class="statistics-number">@Model.GetCurrentVisitors()</p>
	</div>
	<div class="statistics-box" align="center">
		<img style="border-radius: 50%;" src="~/images/visitors.png" />
		<p class="statistics-number">@Model.GetTotalEmployees()</p>
	</div>
	<div class="statistics-box" align="center">
		<img style="border-radius: 50%;" src="~/images/experts.png" />
		<p class="statistics-number">@Model.GetTotalSpecies()</p>
	</div>
</div>
