@page
@model WebApp.Pages.AboutUsModel
@{
}
<div class="aboutus"></div>
<div class="aboutus-content">
	<div class="aboutus-img"></div>
	<div>
		<p>ABOUT US</p>
		<p>ABOUT US</p>
		<p>ABOUT US</p><p>ABOUT US</p>
		<p>ABOUT US</p><p>ABOUT US</p><p>ABOUT US</p>
	</div>
	
</div>
