@page
@model WebApp.Pages.GalleryModel
@{
}
<p style="margin-left: 80px; margin-top:40px;" class="aboutus-title">African rezidents</p>
<!-- Flickity HTML init -->
<div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
	<div class="gallery-cell1" align="center">
		<img style="height: 600px; width: auto;" src="https://images6.alphacoders.com/765/765081.jpg" />
	</div>
	<div class="gallery-cell2" align="center">
		<img style="height: 600px; width: auto;" src="https://images8.alphacoders.com/945/945815.jpg" />
	</div>
	<div class="gallery-cell3" align="center">
		<img style="height: 600px; width: auto;" src="https://images4.alphacoders.com/111/1112821.jpg" />
	</div>
	<div class="gallery-cell4" align="center">
		<img style="height: 600px; width: auto;" src="https://images8.alphacoders.com/428/428349.jpg" />
	</div>
</div>

