@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Eindhoven Zoo</h1>
    <p>The new zoo opening in eindhoven</p>
    <p>Decided to get started on this -Milan</p>
</div>
