@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="background">
    <div class="image image1"></div>
    <div class="image image2"></div>
</div>

<div class="index-title1">
    <p>Are you interesting in finding out more about us and our animals?</p>
    <div style="margin-left: 19rem; margin-top: 0.5rem;" class="button-index">
        <a asp-page="#">About Us</a>
    </div>
</div>

<div class="index-title2">
    <p>Do you plan to visit us?</p>
    <div style="margin-left: 5rem; margin-top: 2rem;" class="button-index">
        <a asp-page="#">Buy tickets</a>
    </div>
</div>
