@page
@model WebApp.Pages.OrderOverviewModel
@{
}

<p style="margin-top:40px" class="group-discount">If you have a discount from one of our partners, enter it here:</p>
<div class="discount">
    <label for="discount">Discount:</label>
    <input type="text" id="discount">
</div>