@page
@model WebApp.Pages.OrderOverviewModel
@{
}

<style>
    .payment-container {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        height: 100px;
    }

        .payment-method label {
            display: flex;
            align-items: center;
            margin-right: 10px;
            font-size: 20px;
        }

            .payment-method label img {
                height: 80px;
                margin-right: 5px;
            }

        .payment-method input[type="radio"] {
            margin-right: 5px;
            font-size: 20px;
        }
</style>
<div>

    <form class="order-form" method="post">
        <h1 class="page-title" style="margin-bottom:50px;">Order Overview</h1>

        @foreach (var ticketGroup in Model.Order.Tickets.GroupBy(t => t.TicketType))
        {
            <div class="ticket-container">
                <p class="ticket-type">Ticket Type: @ticketGroup.Key</p>
                <div class="ticket-info">
                    <p style="font-size: 26px;">x @ticketGroup.Count()</p>
                    <p class="ticket-price">€@ticketGroup.First().Price.ToString()</p>
                </div>

            </div>
        }

        <div class="order-details">
            <p>
                Valid Date: @Model.Order.Date.ToString("MMMM/dd/yyyy")
            </p>
            <p>
                Order Total: €@Model.Order.TotalPrice.ToString()
            </p>
        </div>

        <div class="discount">
            <label >If you have a discount code from one of our partners, enter it here:</label>
            <input type="text" id="discount">
        </div>

        
        <h3 style="margin-top:50px;">Payment Methods</h3>
            <div class="payment-container">
                <label>
                <img style="height: 60px; width:auto;" src="~/images/ideal-logo.png" alt="Ideal">
                    <input type="radio" name="paymentMethod" value="ideal" checked>
                    Ideal
                </label>
            </div>

            <div class="payment-container">
                <label>
                <img style="height: 60px; width:auto;" src="~/images/paypal-logo.png" alt="PayPal">
                    <input type="radio" name="paymentMethod" value="paypal">
                    PayPal
                </label>
            </div>

            <div class="payment-container">
                <label>
                <img style="height: 60px; width:auto;" src="~/images/credit-card-icons.png" alt="Credit Card">
                    <input type="radio" name="paymentMethod" value="creditcard">
                    Credit Card
                </label>
            </div>

        <button style="margin-top:60px; margin-bottom:20px;" type="submit" class="order-button">Submit Order</button>
    </form>
</div>
