@page
@model WebApp.Pages.TicketBoothModel
@{
}
<div class="background-img-tickets">
    <div class="ticket-box">
        <form method="post">
            <h2>Ticket Prices</h2>
            <div>Toddler (age 0 to 3 years) - Free entrance</div>
            <div style ="margin-top:5px">Child (age 4 to 9 years) - 24€</div>
            <div style="margin-top:5px">Adult - 26.50€</div>

            <p class="group-discount">Groups with 20+ people have discount prices.</p>
            <div>Toddler (age 0 to 3 years) - Free entrance</div>
            <div style="margin-top:5px">Child (age 4 to 9 years) - 23€</div>
            <div style="margin-top:5px">Adult - 24.5€</div>

            <h2 style="margin-top:60px">Order Tickets</h2>
            <div style="margin-top:25px" class="ticket-type">
                <label for="toddlers">Toddlers:</label>
                <input type="number" id="toddlers" min="0" value="0">
                <label>tickets</label>
            </div>

            <div class="ticket-type">
                <label for="kids">Kids:</label>
                <input type="number" id="kids" min="0" value="0">
                <label>tickets</label>
            </div>

            <div class="ticket-type">
                <label for="adults">Adults:</label>
                <input type="number" id="adults" min="0" value="0">
                <label>tickets</label>
            </div>

            <p style="margin-top:60px" class="group-discount">If you have a discount from one of our pertners, enter it here:</p>
            <div class="discount">
                <label for="discount">Discount:</label>
                <input type="text" id="discount">
            </div>

            <button style="margin-top:40px; margin-bottom:22px;" type="submit" class="order-button">Place Order</button>
        </form>
    </div>
</div>

