@page
@model WebApp.Pages.UserModel
@{
    <header class="mini-nav">
    <ul>
        <li><a asp-page="/Schedule">Schedule</a></li>
        <li><a asp-page="/User">My details</a></li>
    </ul>
        
    </header>

    <div class="employeeDetails">
        <h2>User Details</h2>

        <form method="post">
            <div>
                <!--  Yea its scuffed but im lazy and it works -Milan  -->
                <input asp-for="ID" type="hidden" readonly />
                <input  asp-for="Role" type="hidden" readonly />
                <input asp-for="Password" type="hidden" readonly />
                
            </div>
            <div>
                <label asp-for="FirstName">First Name:</label>
                <input class="textBox" asp-for="FirstName" type="text" />
                <span asp-validation-for="FirstName" class="errorMessage"></span>
            </div>
            <div>
                <label asp-for="LastName">Last Name:</label>
                <input class="textBox" asp-for="LastName" type="text" />
                <span asp-validation-for="LastName" class="errorMessage"></span>
            </div>
            <div>
                <label asp-for="Email">Email:</label>
                <input class="textBox" asp-for="Email" type="text" />
                <span asp-validation-for="Email" class="errorMessage"></span>
            </div>
            <div>
                <label asp-for="Address">Address:</label>
                <input class="textBox" asp-for="Address" type="text" />
                <span asp-validation-for="Address" class="errorMessage"></span>
            </div>
            <div>
                <label asp-for="BirthDate">BirthDate:</label>
                <input class="datebox" asp-for="BirthDate" type="date"/>
                <span asp-validation-for="BirthDate" class="errorMessage"></span>
            </div>
            <div>
                <label asp-for="PersonGender">Gender:</label>
                <input class="textBox" asp-for="PersonGender" type="text" />
                <span asp-validation-for="PersonGender" class="errorMessage"></span>
            </div>
            <div>
                <label asp-for="Phone">Phone:</label>
                <input class="textBox" asp-for="Phone" type="text" />
                <span asp-validation-for="Phone" class="errorMessage"></span>
            </div>
            <div>
                <button id="submitButton" type="submit">Save Changes</button>
            </div>
        </form>    
    </div>

    <p>Well getting employees works and stuff. Need to get the whole employee scheduel system into this next</p>
}
