<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Home"] - IndividualProjectFestivalWebsite</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IndividualProjectFestivalWebsite.styles.css" asp-append-version="true" />
    <style>
        body {
            background-image: url("../images/wallpaper.jpg");
        }
    </style>
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <nav class="navBarMain">
                <ul>
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/Login">Login</a></li>
                </ul>
            </nav>
        </div>

        <div class="main">
            <main>
                @RenderBody()
            </main>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>